# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# testing
/coverage

# production
/build

# count
/src/utils

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PHP specific
/data/registrations.csv
/config.env

# Hostinger/FTP leftovers
*.zip
*.tar.gz
*.bak
.sftpConfig.json
.idea/
.vscode/

#php mailer
/phpmailer/COMMITMENT
/phpmailer/DSNConfigurator.php
/phpmailer/OAuth.php
/phpmailer/POP3.php
/phpmailer/get_oauth_token.php
/phpmailer/composer.json
/phpmailer/README.md
/phpmailer/VERSION
/phpmailer/SECURITY.md
/phpmailer/LICENSE
/phpmailer/.github/
/phpmailer/language/
/phpmailer/test/
/phpmailer/examples/
/phpmailer/docs/

# Environment files
#.env
#.env.local
#.env.development
#.env.development.local
#.env.production
#.env.production.local