h1 {
  font-size: 4rem;
} /* 40px */
h2 {
  font-size: 3rem;
} /* 32px */
h3 {
  font-size: 2rem;
} /* 28px */
h4 {
  font-size: 1.5rem;
} /* 24px */
h5 {
  font-size: 1.25rem;
} /* 20px */
h6 {
  font-size: 1rem;
} /* 16px */

/* Section Styles */
.section {
  margin-top: 80px;
}

.section.text1 {
  /*background-color: #f8f9fa;  Light gray */
}

.section.text2 {
  text-align: center;
}

.section.text3 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 8px;
  color: rgb(9, 1, 95);
}

.h2-gap {
  margin-bottom: 40px;
}

.orange {
  color: #d5593e;
  font-weight: 900;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
  gap: 40px;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 100px;
  gap: 20px;
  width: 40%;
}

.right-section h4 {
  margin: 0;
  line-height: 1.4;
  color: rgb(9, 1, 95);
  text-transform: uppercase;
}

.text-section {
  max-width: 60%;
  margin-left: 30px;
}

.text-section h2.orange {
  color: #d5593e;
  /* margin-top: 1.5rem; */
}

/* Button Adjustments */
.button-group {
  margin-top: 20px;
}

.button-group-horizontal {
  display: flex;
  gap: 20px;
}

.button-group-horizontal .button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 24px;
}

.organizer-container {
  display: flex;
  flex-direction: column;
}

.conference-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.conference-container-mg-small {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.conference-container-mg {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.text-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.text-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.text-column-mg {
  margin-right: 200px;
}

.image-column {
  display: flex;
  align-items: center; /* Vertically center the image */
}

.logo-image {
  width: 100px; /* Adjust image size */
  height: auto;
}

.cyber-image {
  width: 650px; /* Adjust image size */
  height: auto;
}

/* Logo Section */
.right-section .logo-image {
  width: 250px;
}

/* Text Section Adjustments */
.text-section {
  width: 60%;
}

.text-section h1 {
  line-height: 1.1;
  /* margin-bottom: 2rem; */
}

.text3 iframe {
  max-width: 1100px;
  margin: 20px auto;
  display: block;
  transition: opacity 0.3s ease;
}

.text3 > div {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .main-section {
    flex-direction: column;
  }

  .text-section,
  .right-section {
    width: 100%;
  }

  .right-section {
    align-items: center;
    text-align: center;
  }

  .button-group-horizontal {
    justify-content: center;
  }
}
