.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 160px;
  margin: 0;
  margin-bottom: 80px;
}

.button-group-horizontal {
  display: flex;
  gap: 20px;
}

/* Make buttons consistent width */
.btn {
  padding: 14px 60px;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  cursor: pointer;
  max-height: 55px;
  width: 280px; /* Set fixed width for all buttons */
}

@media (max-width: 1300px) {
  .button-group-horizontal {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    width: 80%; /* Container width */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .button-group,
  .button-group-horizontal {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    width: 80%; /* Container width */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .btn {
    width: 80%; /* Make buttons full width of their container */
    max-width: none;
  }
}

.btn:hover {
  transform: scale(1.05);
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-primary {
  background: linear-gradient(to right, #ff6500, #ffdab3);
  color: rgb(9, 1, 95);
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
}

.btn-primary:hover {
  background: linear-gradient(to right, #ff4800, #ffedb3);
  color: rgb(9, 1, 95);
  font-weight: 900;
}

.btn-secondary {
  background: linear-gradient(to right, #ff6500, #ffdab3);
  color: rgb(9, 1, 95);
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 16px 45px;
}

.btn-secondary:hover {
  background: linear-gradient(to right, #ff4800, #ffedb3);
  color: rgb(9, 1, 95);
  font-weight: 900;
}

.btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
  color: #666666;
}
