.footer {
  /* background-color: #f9f9f9; */
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.contact-section {
  margin-top: 0px;
}

.policy-section {
  margin-top: 30px;
  margin-right: 25px;
}

.logo-section {
  margin-top: 10px;
}

.contact-section h3,
.logo-section h3,
.policy-section h3 {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.2;
}

.logo-section {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 90px;
  height: auto;
  color: #d5593e; /* This will change the SVG color */
  fill: currentColor; /* Ensure it applies */
}

.logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.contact-section,
.policy-section {
  font-size: 12px;
  color: #d5593e;
  text-align: center;
}

/* New spacing adjustments */
.contact-section p,
.contact-section a,
.footer-contact p,
.footer-contact a,
.policy-section p {
  margin: 8px 0;
  line-height: 1.4;
  display: block;
}

.contact-section h4 {
  margin-bottom: 5px;
}

h4 {
  text-transform: none;
  color: #333;
}

.footer-contact a {
  text-decoration: none;
  color: #d5593e;
  /* font-weight: bold; */
  font-size: 12px;
}

.footer-contact a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    display: block;
    flex-direction: column;
    padding: 20px;
  }

  .logo-section {
    justify-content: center;
  }

  .contact-section,
  .policy-section {
    width: 100%;
    text-align: center;
  }
}

.policy-section a {
  color: #d5593e;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 12px;
}

.policy-section a:hover {
  text-decoration: underline;
}
