.refund-policy-container {
  font-family: "Archivo", sans-serif;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  color: #333;
  line-height: 1.6;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
li {
  font-size: 14px;
}

h6 {
  color: #d5593e;
}

.refund-content {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.refund-content h1 {
  color: rgb(9, 1, 95);
  font-size: 2rem;
  text-align: center;
}

.policy-section {
  margin-bottom: 10px;
}

.policy-section h2 {
  color: #d5593e;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.policy-section p {
  line-height: 1.6;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .refund-content h1 {
    font-size: 1.8rem;
  }

  .policy-section h2 {
    font-size: 1.4rem;
  }
}
