/* Create new file for Register styles */
.conference-container-mg-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px;
}

.text-column-mg {
  margin-right: 20px;
  text-align: left;
}

@media (max-width: 1350px) {
  .text-column-mg {
    margin-right: 20px;
  }
}

.register-title,
.register-price {
  margin: 10px 0;
  text-align: center;
  color: rgb(9, 1, 95);
}

.register-button {
  min-width: 200px;
}

@media (max-width: 768px) {
  .conference-container-mg-small {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
  }

  .text-column-mg {
    margin-right: 0;
    text-align: center;
  }

  .register-title {
    font-size: 1.8rem; /* Smaller font size on mobile */
    margin-bottom: 10px;
  }

  .register-price {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .register-button {
    width: 100%;
    max-width: 300px; /* Limit button width on mobile */
  }
}

/* For very small screens */
@media (max-width: 360px) {
  .register-title {
    font-size: 1.5rem;
  }

  .register-price {
    font-size: 1.8rem;
  }
}
