.speaker-container {
  /* background-color: black; */
  display: flex;
  align-items: center;
  gap: 18rem;
  padding: 2rem;
  /* margin: 2rem 0; */
  min-height: 400px;
  position: relative;
  z-index: 0;
}

@media (max-width: 768px) {
  .speaker-container {
    gap: 1rem;
  }
}

.speaker-container.light,
.speaker-container.dark {
  background: linear-gradient(
    to right,
    rgba(255, 214, 179, 1),
    rgba(255, 204, 163, 1) 20%,
    rgba(255, 230, 204, 1) 80%,
    rgba(255, 242, 230, 1) 100%
  );
  z-index: 9;
}

.speaker-container.light {
  color: rgb(9, 1, 95);
}

.speaker-container.dark {
  background: linear-gradient(
    to right,
    rgba(229, 89, 61, 1),
    rgba(229, 89, 61, 1) 20%,
    rgba(255, 171, 112, 1) 80%,
    rgba(255, 171, 112, 1) 100%
  );
  color: #faf5f0;
  h2 {
    color: #faf5f0;
  }
}

.speaker-container.reverse {
  flex-direction: row-reverse;
}

.speaker-content {
  flex: 1;
  max-width: 850px;
  margin-left: 40px;
}

.category {
  /* color: rgb(9, 1, 95); */
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.5rem 0 1rem 0;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* Remove or comment out the old .learn-more styles */
.learn-more {
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Add these new theme-specific button styles */
.light .learn-more {
  background-color: rgb(9, 1, 95);
  color: #faf5f0;
}

.light .learn-more:hover {
  background-color: rgba(9, 1, 95, 0.8);
}

.dark .learn-more {
  background-color: #db4524;
  color: #faf5f0;
}

.dark .learn-more:hover {
  background-color: #c62b08;
}

.speaker-image {
  flex: 1;
  max-width: 600px;
  margin: auto;
  margin-left: 50px;
}

.speaker-image img {
  width: 100%;
  /*max-width: 500px;  Updated for new partiticapts */
  max-height: 500px;
  height: auto; /* How will be used most likely with prod data */
  height: 500px; /* temporary fix for 2nd participant */
  object-fit: cover;
}

/* Default size class */
.speaker-image-default {
  max-width: 500px;
}

/* Small size class */
.speaker-image-small {
  max-width: 350px;
}

/* Medium size class */
.speaker-image-medium {
  max-width: 400px;
}

/* Large size class */
.speaker-image-large {
  max-width: 600px;
}

@media (max-width: 1324px) {
  .speaker-container {
    gap: 8rem;
  }
}

@media (max-width: 768px) {
  .speaker-container {
    flex-direction: column;
    text-align: center;
    gap: 8rem;
  }

  .speaker-container.reverse {
    flex-direction: column;
  }

  .speaker-content,
  .speaker-image {
    max-width: 100%;
    /* margin-left: 0px; */
  }
}
