body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #a1999930;
  margin: 0;
  padding: 0;
  color: #333;
}

button {
  font-family: "Roboto", sans-serif;
}

.roboto-thin {
  font-weight: 100;
}

.roboto-light {
  font-weight: 300;
}

.roboto-regular {
  font-weight: 400;
}

.roboto-medium {
  font-weight: 500;
}

.roboto-bold {
  font-weight: 700;
}

.roboto-black {
  font-weight: 900;
}
